#!/bin/bash

# cool ls 
alias ls='ls -pFhG'
export LSCOLORS="hxfxcxdxBxegedabagachx"
# cool colors
alias grep='grep --color=auto'

# safe delte
alias del=rmtrash

# github
alias git=hub

# media
alias pandora='pianobar 2>&1 | grep -v API'
alias youtube=mpsyt

# pdf stuff
alias sejda='~/.bin/sejda/bin/sejda-console'

# clear & status
alias cls='clear && status'

# faster ssh
alias ssh='ssh -c blowfish'
alias mathlan='ssh mccartan@ssh.cs.grinnell.edu'

# tts
alias say='say -v Daniel'

# makedir
md() {
	mkdir $1
	cd $1
}

# editing
rr() {
    if [ "$1" != "r" ]; then
        RRTMP=`mktemp -t long-cmd`
    fi
    vim $RRTMP
    cat $RRTMP | bash
}

extract() {
  if [ -f "$1" ]; then
    case "$1" in
      *.tar.bz2)  tar -jxvf "$1"                        ;;
      *.tar.gz)   tar -zxvf "$1"                        ;;
      *.bz2)      bunzip2 "$1"                          ;;
      *.dmg)      hdiutil mount "$1"                    ;;
      *.gz)       gunzip "$1"                           ;;
      *.tar)      tar -xvf "$1"                         ;;
      *.tbz2)     tar -jxvf "$1"                        ;;
      *.tgz)      tar -zxvf "$1"                        ;;
      *.zip)      unzip "$1"                            ;;
      *.ZIP)      unzip "$1"                            ;;
      *.pax)      cat "$1" | pax -r                     ;;
      *.pax.Z)    uncompress "$1" --stdout | pax -r     ;;
      *.Z)        uncompress "$1"                       ;;
      *) echo "'$1' cannot be extracted/mounted via extract()" ;;
    esac
  else
     echo "'$1' is not a valid file to extract"
  fi
}

checkbrewupdates() {
	brew update
	brew outdated
}
