# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Cory McCartan
	email = cory.mccartan@gmail.com
[push]
	default = simple
[help]
	autocorrect = -1
