snippet cl
	console.log(${1});
snippet forl
	for (var ${1:i} = 0; $1 < ${2:list.}length; $1++) {
		${0}
	}
snippet func;
	function(${1}) {
		${0}
	};
snippet func,
	function(${1}) {
		${0}
	},
snippet func
	function(${1}) {
		${0}
	}
snippet strict
	"use strict";

	${0}
snippet closure
	(function() {
		var self = {};

		${0}

		return self;
	})();
snippet event
	addEventListener("${1}", function(${2:e}) {
		${0}
	});
